.Heading1{
  text-decoration: solid;
  text-transform:uppercase;
  text-decoration-style: bold;
  font-size: x-large;
  color: white;
  background-color: #003030;
 width: 100%;
}
.Icon{
  display: flex;
  align-items: center;
  justify-content: center;
  
}