.card-with-logo-background {
  .background-img-empty {
    background-image: url("../../assets/images/icons2.png");
    height: 100%;
    background-size: 100% 100%;
    border-radius: 10px;
  }
}

.FormButton{
  margin-top: 25px !important;
  margin-left: 30px !important;
}